
  <h2 *ngIf="firstName; else lastName">Rajat</h2>
  <ng-template #lastName ><h1>Pali</h1></ng-template>


  
<div *ngIf="firstName; then ifBlock; else elseBlock "></div>
  <ng-template #ifBlock ><h1>if block</h1></ng-template>
  <ng-template #elseBlock ><h1>else block</h1></ng-template>

