<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
 
</div>
<nav>
  <a routerLink="/employees" routerLinkActive="active">Employee</a>
  <a routerLink="/departments" routerLinkActive="active">Departments</a>
</nav>
<router-outlet></router-outlet>
