<h1>Employess are</h1>
<table>
<tr><th>Name</th><th>Salary</th><th>Experience</th></tr>
<tr *ngFor="let emp of empList">
<td>{{emp.name | titlecase}}</td>  
<td>{{emp.salary | currency:'INR'}}</td>
<td>{{emp.exp}}</td>
</tr>


</table>

<hr>
<hr>
<table>
    <tr><th>Name</th><th>Salary</th><th>Experience</th></tr>
    <tr *ngFor="let emp of empHttpList">
    <td>{{emp.name | titlecase}}</td>  
    <td>{{emp.salary | currency:'INR'}}</td>
    <td>{{emp.exp}}</td>
    </tr>
    
    
    </table>

    {{errorMessage}}
