<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<!-- <app-first></app-first> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-templaterefvar></app-templaterefvar> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-struct-directives></app-struct-directives>p -->
<!-- <app-parent></app-parent> -->
<!-- <app-pipes></app-pipes> -->
 <app-employees></app-employees>
<!-- {{test()}} -->